{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.2/css/tabulator.min.css" integrity="sha512-HdUIebGeOK7s+At/fOnnbX8vsz6Cl1KTeiRlBiQABTMSqw7kZRCxGiUnuF9lr+1xz5y8pL7jkCR+NNtVVkEqKg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.2/js/tabulator.min.js" integrity="sha512-oU2NOn7vXb9igwNelYL+57+t+zb3liitNE8/NXg8QFJhBCSvH+dt9+s3H02aM41FUF7WYWx0kPeFV5yIkm1MVA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block body %}
    <h1>Admin</h1>

    <h2>Teams</h2>
    <table id="teams">
        <thead>
            <tr>
                <th>Název</th>
                <th>Hledá komplice?</th>
            </tr>
        </thead>
        <tbody>
    {% for team in teams %}
        <tr>
            <td>{{team.name}}</td>
            <td>{{team.isLookingForPlayers ? 'Ano' : 'Ne' }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    <h2>Players</h2>
    <table id="players">
        <thead>
            <tr>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>Email</th>
                <th>Tým</th>
            </tr>
        </thead>
        <tbody>
    {% for player in players %}
        <tr>
            <td>{{player.name}}</td>
            <td>{{player.surname}}</td>
            <td>{{player.email}}</td>
            <td>{{player.team.name}}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    <script>
        const tableTeams = new Tabulator('#teams', {})
        const tablePlayers = new Tabulator('#players', {})
    </script>
{% endblock %}